<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Table
        <%= tablenum %>
    </title>
    <script>
        var tblNumber = <%= tablenum %>
    </script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
	 crossorigin="anonymous"></script>

	<link href="http://localhost:3000/stylesheets/customerStyle.css" rel="stylesheet">
</head>

<body>

	<h1>Entrees</h1>
	<br><br>
	<div class="container">
		<div class="row">
			<% menu_items.forEach(function(item, index){ %>
			<div class="col-md-6">
				<h3>
					<%= item.Name %>
				</h3>

				<!--This says that the 'happy hour' is 2-3pm
					need to also change in customer.js
				-->
				<% if(hour == 15){ %>
				<h5>$
					<%= item.HappyHour %>
				</h5>
				<% } else{ %>
				<h5>$
					<%= item.Price %>
				</h5>
				<% } %>

				<hr style="clear:both;" />
				<p><img src='http://localhost:3000/images/<%= item.ImageName %>' alt=<%=item.Name %> style="float:left"
					width="290" height="200" hspace="20">
					<%= item.Description %>
				</p>
				<button type="button" class="btn btn-secondary btn-sm addToOrder" data-id="<%= item._id %>">Add to Order</button>
				<hr style="clear:both;" />
			</div>
			<% if((index + 1) > 0 && (index + 1) % 2 == 0){ %>
			<br>
		</div>
		<div class="row">
			<% } %>
			<% }) %>
		</div>
	</div>

	<br><br><br>
	<!--Assistance Buttons-->
	<div class="assistance">
	    <ul id="requester">
	        <li><button><img src="http://localhost:3000/images/MAG.png"> Magnifying Glass</button></li>
	        <li><button><img src="http://localhost:3000/images/txt2spch.png"> Text to Speech</button></li>
	        <div class="ass-dropdown">
	            <li><button id="drinkrq" onclick="showDrinks()" class="ass-dropbtn"><img src="http://localhost:3000/images/refill.png">
	                    Tap to Select
	                    Refill</button></li>
	            <div id="ass-drop" class="ass-dropdown-content">
	                <% refill.forEach(function(item, index){ %>
	                <a href="#" class="drink"><%= item %></a>
	                <% }) %>
	            </div>
	        </div>
	        <div class="ass-dropdown">
	            <li><button id="filter" onclick="showFilters()" class="ass-dropbtn"><img src="http://localhost:3000/images/filter-icon-14.png">
	                    Tap to Filter Items</button></li>
	            <div id="filter_items" class="ass-dropdown-content">
	                <a href="/guest-entrees">No Filter</a>
	                <a href="/guest-entrees/vegan/">Vegan</a>
	                <a href="/guest-entrees/vegetarian/">Vegetarian</a>
	                <a href="/guest-entrees/spicy/">Spicy</a>
	                <a href="/guest-entrees/gf/">Glutten Free</a>
	            </div>
	        </div>
	        <li><button id="servicerq"><img src="http://localhost:3000/images/assistance.png"> Tap for Assistance</button></li>
	    </ul>
	</div>

	<!--Modal-->
	<div class="bg-modal">
		<div class="modal-content">
			<div class="close">+</div>
			<div class="modal-main-content">
				<h3 class="modal-menu-name">Name</h3>
				<img class="modal-menu-img" src="" alt="nameOfImage" style="float:left" width="390" height="300" hspace="20">
				<h4 class="modal-menu-price">Price</h4>
				<h5 class="modal-menu-desc">Description</h5>
			</div>
			<br>
			<form>
				<textarea class="clear-this" name="notes" placeholder="Type in any allergies or anything you want added/removed from the item." cols="60"
				 rows="5"></textarea>
			</form>
			<button type="button" class="btn btn-secondary btn-sm modal-submit">Add to Order</button>
		</div>
	</div>

</body>

<footer>
	<!-- Navigation -->
	<% include partials/guestnavbar %>

	<!--@ bottom to allow DOM to fully load-->
	<script src="http://localhost:3000/javascripts/customer.js"></script>
</footer>

</html>