<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Order</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="http://localhost:3000/stylesheets/customerStyle.css" rel="stylesheet">
</head>
<body>
<!--
<div class= "left">
	<div class="centered">
	</div>

	<h1>Order</h1>
	<div class = "right">
		<div class = orderbtn>
				<button type="button" class="btn btn-secondary btn-lg">Edit</button>
				<button type="button" class="btn btn-secondary btn-lg">X</button>
		</div>
	</div>

<div class = "right">
	<div class = orderbtn>
			<button type="button" class="btn btn-secondary btn-lg">Edit</button>
			<button type="button" class="btn btn-secondary btn-lg">X</button>
	</div>-->
</div>
<h1>Order</h1>
<!--<% order_items.forEach(function(item, index){ %>
	<div class = "col-md-6">
		<h3><%= item.Name %></h3>
		<h5>$<%= item.Price %></h5>
		<hr style="clear:both;"/>
		the appetizers path wont work b.c. not all will be appetizers
		<p><img src='http://localhost:3000/images/appetizers/<%= item.ImageName %>' alt=<%= item.Name %> style="float:left" width="290" height="200" hspace="20"></p>
	</div>
<% }) %>-->
<% notes.forEach(function(o_item, index){ %>
	<% order_items.forEach(function(i_item, index){ %>
		<% if(o_item.item == i_item._id){ %>
		<div class = "col-md-6">
			<h3><%= i_item.Name %></h3>
			<h5>$<%= i_item.Price %></h5>
			<hr style="clear:both;"/>
			<!--TODO: the appetizers path wont work b.c. not all will be appetizers-->
			<p><img src='http://localhost:3000/images/appetizers/<%= i_item.ImageName %>' alt=<%= i_item.Name %> style="float:left" width="290" height="200" hspace="20"></p>
			<h3><%= o_item.notes %></h3>
		</div>
		<% } %>
	<% }) %>
<% }) %>
<br><br>
    <!--Assistance Buttons-->
    <% include partials/assistance %>
</body>
<footer>
	<br><br>
    <!-- Navigation -->
    <% include partials/guestnavbar %>

    <!--@ bottom to allow DOM to fully load-->
    <script src="http://localhost:3000/javascripts/customer.js"></script>
</footer>
</html>