<!DOCTYPE html>

<html>
    <head>
        <% include partials/head %>
        <link rel="stylesheet" href="http://localhost:3000/stylesheets/kitchenstaff/newkitchen.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <% include partials/script %>
    </head>


<!-- Sidebar -->

<div class="sidebar">
      <% orderItems.forEach(function(item, index){ %>
            <div class= "order_display_sidebar" id='<%= item._id %>'> 
                  <h5>  Table #<%= item.table %></h5>
            </div>
      <% }) %>
</div>
 
<body>
<!--Main Page-->
<div class="main">
    <div class="button">
          <h3>Help</h3>
    </div>
    <div class="button">
          <h3>Ready</h3>
    </div>
    <div class="button">
          <h3>Cooking</h3>
    </div> 
</div> 
<div>
  <div>
      <% orderItems.forEach(function(item, index){ %>
        <% for(let j = 0; j < item.orderedItems.length; j++){  %> 
            <div id='_<%= item._id %>' class= "order_display_main"> 
                  <h5> Menu Item ID: <%= orderItems[index].orderedItems[j].item %></h5>
                  <h5> Notes and Allergies: <%= orderItems[index].orderedItems[j].notes %></h5>
            </div>
      <% } %>  
      <% }) %>
      </div>
</div>
</body>


<footer>
  <% include partials/navbar %>
</footer>
<script src="http://localhost:3000/javascripts/kitchenstaff.js"></script>
</html>
