<!DOCTYPE html>
<html>
<title>Manager view</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
crossorigin="anonymous"></script>

<link href="http://localhost:3000/stylesheets/customerStyle.css" rel="stylesheet">

<body>

        <div class="w3-sidebar w3-bar-block w3-grey w3-card" style="width:25%">
                <h5 class="w3-bar-item">Manager</h5>
                <button class="w3-bar-item w3-button tablink w3-border-bottom w3-hover-blue" onclick="openTab(event, 'Menu')">Menu</button>
                <button class="w3-bar-item w3-button tablink w3-border-bottom w3-hover-blue" onclick="openTab(event, 'Lookup')">Lookup</button>
                <button class="w3-bar-item w3-button tablink w3-border-bottom w3-hover-blue" onclick="openTab(event, 'Inventory')">Inventory</button>
                <button class="w3-bar-item w3-button tablink w3-border-bottom w3-hover-blue" onclick="openTab(event, 'Compensation')">Compensation</button>
                <button class="w3-bar-item w3-button tablink w3-border-bottom w3-hover-blue" onclick="openTab(event, 'General Revenue')">General Revenue</button>
        </div>

        <div style="margin-left:25%">
                <div id="Menu" class="w3-container tab" style="display:none">
                  <h2>Menu</h2>
                  <div class="w3-container">
                  <h3> </h3>
                  <div class="w3-responsive">
                  <table class="w3-table-all">
                        <tr>
                                <th>Menu Item</th>
                                <th>Visability</th>
                        </tr>
                      <% items.forEach(function(item, index) { %>
                        <tr>
                            <th><%= item.Name %></th>
                            <th><%= item.Active %></th>
                            <th><button onclick="hideMenuItem($(this))" data-id=<%= item._id %>>Remove/Add</button></th>
                        </tr>

                      <% }) %>
                  </table>
                  </div>
                  </div>
                  </div>
                </div><br><br><br><br>
              
              <div style="margin-left:25%">
                <div id="Lookup" class="w3-container tab" style="display:none">
                  <h2>Lookup</h2>
                  <form>
                    <input type="text" name="objID" id='objID' placeholder="Search..."><br>
                  </form>
                  <a href="#" class="w3-bar-item w3-button w3-green" onclick="lookupOrder()">Go</a>
                
                  <div class="w3-container">
                  <h3> </h3>
                  <div class="w3-responsive">
                  <table class="w3-table-all">
                  <tr>
                    <th>Order Number</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Tips</th>
                  </tr>
                  <tr>
                      <th class='orderedID'></th>
                      <th class='total'></th>
                      <th class='tax'></th>
                      <th class='tips'></th>
                      <th></th>
                  </tr>
                  </table>
                  </div>
                  </div>
                  </div>
                </div>
              
              <div style="margin-left:25%">
                <div id="Inventory" class="w3-container tab" style="display:none">
                  <h2>Inventory</h2>
                  <div class="w3-container">
                  <h3> </h3>
                  <div class="w3-responsive">
                  <table class="w3-table-all">
                  <tr>
                    <th>Ingredients</th>
                    <th>Quality</th>
                    <th>Decrease</th>
                    <th>Increase</th>
                  </tr>
                  <% products.forEach(function(product, index) { %>
                    <tr>
                        <th><%= product.Name %></th>
                        <th><%= product.Quantity %></th>
                        <th><button onclick="inventoryD($(this))" data-id=<%= product._id %>>-</button></th>
                        <th><button onclick="inventoryI($(this))" data-id=<%= product._id %>>+</button></th>
                    </tr>

                  <% }) %>
                  <tr>
                    <td>Row 1</td>
                    <td>
                  <button class="w3-button w3-small w3-teal">-</button>
                    <button class="w3-button w3-small w3-teal">+</button>
                  <td>23</td>
                    </td>
                  </tr>
                  </table>
                  </div>
                  </div>
                  </div>
                </div>
              
              <div style="margin-left:25%">
                <div id="Compensation" class="w3-container tab" style="display:none">
                  <h2>Compensation</h2>
                  
                  <div class="w3-container">
                  <h3> </h3>
                  <div class="w3-responsive">
                  <table class="w3-table-all">
                  <tr>
                    <th>Table Number:</th>
                    <th>Status</th>
                  </tr>

                  <% orders.forEach(function(order, index) { %>
                    <tr>
                        <td><%= order.table %> </td>
                        <td><button onclick="freeMeal($(this))" data-id='<%= order._id %>'>Give Free Meal</button></td>
                    </tr>
                  <% }) %>
                  </table>
                  </div>
                  </div>
                  </div> 
                </div>
              
              <div style="margin-left:25%">
                <div id="General Revenue" class="w3-container tab" style="display:none">
                  <h2>General Revenue</h2>
              
                  <div class="w3-container">
                  <h3> </h3>
                  <div class="w3-responsive">
                  <table class="w3-table-all">
                  <tr>
                    <th>Order ID</th>
                    <th>Tip</th>
                    <th>Tax</th>
                    <th>Total</th>
                  </tr>
                  <tr>
                  </tr>
                  <tr>
                    <td>23424243</td>
                    <td>$2.53</td>
                    <td>$3.37</td>
                    <td>$21.75</td>
                  </tr>
                  </table>
                  </div>
                  </div>
                  </div>
                </div>
              
              </div>
              
              <script>
              function openTab(evt, tabName)
              {
                  var i, x, tablinks;
                    x = document.getElementsByClassName("tab");
                    for (i = 0; i < x.length; i++)
                      {
                          x[i].style.display = "none";
                    }
                   tablinks = document.getElementsByClassName("tablink");
                    for (i = 0; i < x.length; i++)
                     {
                          tablinks[i].className = tablinks[i].className.replace(" w3-blue", ""); 
                    }
                    document.getElementById(tabName).style.display = "block";
                    evt.currentTarget.className += " w3-blue";
              }
              function hideMenuItem(btn){
                id = $(btn).attr("data-id");
                console.log(id)
                $.ajax({
                    url: "/hideMenuItem/" + id,
                    type: "POST",
                    success: function (responseData) {
                        console.log(responseData);
                        location.reload();
                        // refresh
                    },
                    error: function (responseData) { //if we have a fake item in our dbase, we can still remove it
                        console.log(responseData);
                    }
                });
              }
              function inventoryD(btn){
                id = $(btn).attr("data-id");
                console.log(id)
                $.ajax({
                    url: "/inventoryD/" + id,
                    type: "POST",
                    success: function (responseData) {
                        console.log(responseData);
                        location.reload();
                        //refresh
                    },
                    error: function (responseData) { //if we have a fake item in our dbase, we can still remove it
                        console.log(responseData);
                    }
                });
              }
              function inventoryI(btn){
                id = $(btn).attr("data-id");
                console.log(id)
                $.ajax({
                    url: "/inventoryI/" + id,
                    type: "POST",
                    success: function (responseData) {
                        console.log(responseData);
                        location.reload();
                        //refresh
                    },
                    error: function (responseData) { //if we have a fake item in our dbase, we can still remove it
                        console.log(responseData);
                    }
                });
              }
              function freeMeal(btn){
                  id = $(btn).attr('data-id')
                  console.log(id)
                  $.ajax({
                    url: "/compensate/" + id,
                    type: "POST",
                    success: function (responseData) {
                        console.log(responseData);
                        location.reload();
                        //refresh
                    },
                    error: function (responseData) { //if we have a fake item in our dbase, we can still remove it
                        console.log(responseData);
                    }
                });                  
              }
              function lookupOrder(){
                  var orderID = document.getElementById('objID').value;
                  if(orderID == ''){
                      return;
                  }
                  console.log('made it here')
                  console.log(orderID)
                  $.ajax({
                    url: "/lookup/" + orderID,
                    type: "POST",
                    success: function (responseData) {
                        if(responseData == 'empty'){
                            console.log('no results here')
                        }
                        else if(responseData.length){
                            console.log('displaying archived order')
                            console.log(responseData[0])
                            document.querySelector('.orderedID').innerHTML = responseData[0].orderID
                            //change empty fields
                        }
                        else{
                            console.log('no results')
                        }
                    },
                    error: function (responseData) { //if we have a fake item in our dbase, we can still remove it
                        console.log(responseData);
                    }
                });                  
              }
              </script>

</body>

<footer>
    <% include partials/navbar %>
</footer>

</html>